
  <h1>Profil de <%= @user.name%></h1>
 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
<strong>Liste des événements de l'utilisateur:</strong> <br>
	<% @user.created_events.each do |event| %>
  	<%= link_to event.name, event_path(event) %>
  	<%= event.date %> <br>
	<% end %>
</p>

<p>
 	<strong>Evenements auquel l'utilisateur participe</strong>
	<% @user.attended_events.each do |event|%>
 		<%= link_to event.name, event_path(event) %>
 		<%= event.date %> <br>
  <% end %>
</p>

<p><%= link_to "Clickez ici pour ajouter une activité", new_event_path %> </p>
