<h1>Bienvenu sur ton événement</h1>

<p>
  <strong>Evenement:</strong>
  <%= @event.name%>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to "Tous les événements", events_path %>