<h1>Bienvenu sur l'événement</h1>

<p>
  <strong>Evenement:</strong>
  <%= @event.name%>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Créateur de l'événement:</strong>
  <%= @event.creator.name %>
</p>

<p>
  <strong>Liste des invités</strong>
  <% @event.attendees.each do |attendee| %>
  <%= attendee.name %>
  <%= link_to('Voir le profil du participant', user_path(attendee)) %>
  <% end %>
</p>

<%= link_to "Tous les événements", events_path %>